.footer {
	border: rem(1) solid #565151;
	text-align: center;
	padding: 4rem 0;
	@media (min-width: $md4) {
		border: rem(2) solid #565151;
	}
	@media (min-width: $md3) {
		padding: 8.25rem 0;
	}
	// .footer__container
	&__container {
		max-width: rem(1100);
	}
	// .footer__menu
	&__menu {
		font-family: $font-roboto;
		font-size: 1.375rem;
		font-weight: 700;
		line-height: 181.818%;
	}
	// .footer__menu-list
	&__menu-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
	}
	// .footer__menu-item
	&__menu-item {
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #6eb9fc;
			}
		}
	}
	// .footer__copy
	&__copy {
		margin-top: 3.5rem;
		@media (min-width: $md4) {
			margin-top: 6.5rem;
		}
		@media (max-width: $md4) {
			font-size: 2rem;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.25em;
		row-gap: 0rem;
		& span {
			padding: 0.25em 0 0 0;
			font-size: 0.75em;
		}
	}
}
