.form {
	// .form__input
	&__input {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border-radius: 0.125rem;
		background: #524a5f;
		color: #d2dbe2;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 166.667%;
		padding: 0.5rem;
		border: rem(2) solid #524a5f;
		&::placeholder {
			opacity: 1;
			color: #d2dbe2;
		}
		&:hover,
		&:focus {
			border-color: $text;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}

		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}
	}
	// .form__textarea
	&__textarea {
		height: 8.5625rem;
		resize: none;
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border-radius: 0.125rem;
		background: #524a5f;
		color: #d2dbe2;
		text-align: center;
		align-content: center;
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 166.667%;
		padding: 0.5rem;
		border: rem(2) solid #524a5f;
		&::placeholder {
			opacity: 1;
			color: #d2dbe2;
		}
		&:hover,
		&:focus {
			border-color: $text;
		}
		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}
	}
	// .form__btn
	&__btn {
		margin-top: 2rem;
		align-self: center;
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	padding: 0.875rem 1.375rem;
	min-height: rem(53);
	border-radius: 0.125rem;
	color: #000;
	text-align: center;
	font-weight: 500;
	@media (min-width: $md5) {
		font-size: 1.25rem;
	}
	&.btn-primary {
		background: linear-gradient(270deg, #6eb9fc 0%, #f889ce 52.5%, #fd957d 100%);
		color: #000;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(90deg, #6eb9fc 0%, #f889ce 52.5%, #fd957d 100%);
			transition: opacity 0.3s ease 0s;
			z-index: -1;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 0;
				}
			}
		}
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
}
