.header {
	border: rem(2) solid #565151;
	padding: rem(24) 0;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		font-family: $font-lemon;
		font-size: 3.125rem;
	}
	// .header__menu
	&__menu {
	}
	// .header__btn
	&__btn {
	}
}
.menu {
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 5rem;
		row-gap: 0.25rem;
		font-family: $font-roboto;
		font-size: 1rem;
		font-weight: 500;
		line-height: 3.75rem;
		color: #fff;
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #6eb9fc;
			}
		}
	}
}
