// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Sanchez";
$font-roboto: "Roboto";
$font-lemon: "Lemon";
$font-quantum: "QuantumProfit";

// Шрифт по умолчанию

$md1: 1439.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 743.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1280); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$text: #fff;
$white: #fff;
$accent: #82a6ca;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: #252833;
	color: #d2dbe2;
	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	@media (min-width: $md4) {
		overflow-x: clip;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(20);
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(704);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: $maxWidthContainer;
	}
	&.container-lg {
		@media (min-width: $md2) {
			max-width: rem(1240);
		}
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
// @import "grid";
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
}

section {
	border: rem(2) solid #565151;
	padding: rem(80) 0;
}
// ========================================================

.promo {
	// .promo__container
	&__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .promo__main
	&__main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .promo__title
	&__title {
	}
	// .promo__desc
	&__desc {
		margin-top: rem(32);
		width: 100%;
		color: #d2dbe2;
		font-family: $font-roboto;
		font-size: 1.5rem;
		line-height: 166.667%;
		& ul {
			li {
				position: relative;
				padding-left: 0.875em;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: em(13, 24);
					height: em(13, 24);
					background: url("@img/icons/star.svg") center / contain no-repeat;
				}
			}
		}
	}
	// .promo__btn
	&__btn {
		margin-top: rem(48);
		min-width: rem(290);
	}
	// .promo__image
	&__image {
		flex: 0 0 33.625rem;
	}
}

.desc {
	// .desc__container
	&__container {
	}
	// .desc__title
	&__title {
	}
	// .desc__body
	&__body {
		margin-top: 2.5rem;
		font-family: $font-roboto;
		font-size: 1.5rem;
		line-height: 166.667%;
		display: grid;
		grid-template-columns: 1fr 1.125fr;
		gap: 2.5rem 1.5rem;
	}
}

.ads {
	// .ads__container
	&__container {
	}
	// .ads__title
	&__title {
	}
	// .ads__desc
	&__desc {
		margin-top: 2rem;
		font-size: 1.5rem;
		line-height: 166.667%;
	}
	// .ads__list
	&__list {
		margin-top: 2rem;
		display: grid;
		gap: 2.5rem;
		grid-template-columns: repeat(4, 1fr);
	}
	// .ads__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .ads__item-icon
	&__item-icon {
		height: 4.3125rem;
		display: flex;
		align-items: center;
	}
	// .ads__item-caption
	&__item-caption {
		margin-top: 0.94rem;

		font-size: 1.5625rem;
		line-height: 160%;
	}
	// .ads__item-text
	&__item-text {
		margin-top: 1rem;
		font-size: 1.25rem;
		line-height: 200%;
	}
	// .ads__hint
	&__hint {
		margin-top: 4rem;
		font-size: 1.5rem;
		line-height: 166.667%;
	}
}

.benefits {
	// .benefits__container
	&__container {
		display: flex;
		gap: 2rem;
	}
	// .benefits__body
	&__body {
	}
	// .benefits__title
	&__title {
	}
	// .benefits__subtitle
	&__subtitle {
		margin-top: 1.94rem;
		font-size: 1.3rem;
		line-height: 181.818%;
	}
	// .benefits__list
	&__list {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	// .benefits__item
	&__item {
	}
	// .benefits__item-icon
	&__item-icon {
	}
	// .benefits__item-caption
	&__item-caption {
		margin-top: 0.75rem;
		font-size: 1.5625rem;
		line-height: 160%;
	}
	// .benefits__item-desc
	&__item-desc {
		margin-top: 0.5rem;
		font-size: 1.25rem;
		line-height: 200%;
	}
	// .benefits__hint
	&__hint {
		margin-top: 2rem;
		font-size: 1.375rem;
		line-height: 181.818%;
	}
	// .benefits__image
	&__image {
		flex: 0 0 27.875rem;
	}
}

.steps {
	// .steps__container
	&__container {
	}
	// .steps__title
	&__title {
	}
	// .steps__list
	&__list {
		margin-top: 2.5rem;
	}
	// .steps__item
	&__item {
		display: flex;
		gap: 0.81rem;
		counter-increment: num;
		&::before {
			content: counter(num);
			font-size: 2.25rem;
			font-weight: 400;
			line-height: 2.5rem;
			background: #5e208e;
			padding: 3rem 2rem;
			width: calc(12.5% * var(--step-count));
			max-width: 50%;
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .steps__item-body
	&__item-body {
		flex: 1 1 auto;
		border-bottom: rem(2) solid #5e208e;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// .steps__item-caption
	&__item-caption {
		font-size: 1.5625rem;
		line-height: 160%;
	}
	// .steps__item-desc
	&__item-desc {
		margin-top: 0.25rem;
		font-size: 1.25rem;
		line-height: 200%;
	}
}

.ready {
	padding: 7rem 0 9.5rem;
	background: url("@img/ready-bg.jpg") 0 0 / cover no-repeat;
	// .ready__container
	&__container {
	}
	// .ready__title
	&__title {
	}
	// .ready__desc
	&__desc {
		margin-top: 1rem;
		font-size: 1.375rem;
		line-height: 181.818%;
		max-width: 64rem;
	}
	// .ready__btn
	&__btn {
		margin-top: 4.25rem;
		display: flex;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		min-width: rem(290);
	}
}
